# Aula 02

## Instalando as bibliotecas necessárias

Antes de começar, precisamos importar as bibliotecas necessárias

In [ ]:
!pip install pandas
!pip install Faker

## Modelagem de tabelas especializadas com dados agrupados e/ou sumarizados.

In [ ]:
import pandas as pd
pd.set_option("display.max_columns", 100)

path ='dados/aula2/sales/sales_data_sample.csv'
sales_df = pd.read_csv(path, encoding="ansi")

In [ ]:
sales_df.head(1)

In [ ]:
sales_df.tail(1)

In [ ]:
sales_df.describe()

In [ ]:
sales_df.info()

In [ ]:
sales_df.isna().sum()

In [ ]:
sales_df.count()

In [ ]:
sales_df.duplicated()

In [ ]:
sales_df.shape

In [ ]:
sales_df2 = sales_df[['ORDERNUMBER', 'QUANTITYORDERED', 'PRODUCTLINE']]

In [ ]:
sales_df2.shape

In [ ]:
sales_df2['QUANTITYORDERED']>30

In [ ]:
sales_df3 = sales_df2[sales_df2['QUANTITYORDERED']>30]

In [ ]:
sales_df.drop_duplicates(inplace=True)

In [ ]:
sales_df[sales_df.duplicated() ==False]

In [ ]:
sales_df2 = sales_df2.drop_duplicates()
sales_df2.drop_duplicates(inplace = True)

In [ ]:
sales_df2.info()

### Criando um dataset manualmente

In [ ]:
df_manual = pd.DataFrame(
        {
        'nome':['Ana', 'Joao', 'Maria'],
        'idade': [18, 35, 23]} 
)
df_manual

### Criando um dataset fake

In [ ]:
from faker import Faker
fake = Faker()

Fazer um df fake contendo coluna nascimento, nome e email. O df deve conter 10 linhas

In [ ]:
nascimentos = []
nomes = []
emails = []

for i in range(10):
    nascimentos.append(fake.date())
    nomes.append(fake.name())
    emails.append(fake.email())

df_fake = pd.DataFrame(
    {
        'data_nascimento': nascimentos,
        'nome': nomes,
        'email': emails
    }
)
df_fake

In [ ]:
fake_df = pd.DataFrame({
    'data_nascimento':[fake.date() for i in range(10)],
    'nome':[fake.name() for i in range(10)],
    'email':[fake.email() for i in range(10)],
})
fake_df

Converter a a coluna data nascimento para datetime e filtar os nascidos depois do ano 2000

In [ ]:
fake_df['data_nascimento']=pd.to_datetime(fake_df['data_nascimento'])

In [ ]:
fake_df.info()

In [ ]:
fake_df[fake_df['data_nascimento'] > '2000-01-01 00:00:00']

In [ ]:
fake_df[fake_df['data_nascimento'].dt.year>2000]

In [ ]:
fake_df.query("data_nascimento > '2000-01-01 00:00:00'")

### Com o seguinte dataset realize as operações a seguir:

Fonte de dados: https://www.kaggle.com/datasets/dgoenrique/disney-movies-and-tv-shows

- Mostrar o resumo dos dados

- Exibir o total de valores nulos para cada coluna

- Exibir o total de duplicados

In [ ]:
path = 'dados/aula2/disney/titles.csv'
titles_df = pd.read_csv(path)
titles_df.head(2)

In [ ]:
titles_df.info()

In [ ]:
titles_df.isna().sum()

In [ ]:
titles_df.duplicated(titles_df).sum()

In [ ]:
titles_df.drop_duplicates(keep='last', inplace=True)

### Harmonizando dados

- Fonte de dados: https://www.imdb.com/interfaces/
- Repositório: `dados/harmonizacao/rating_data.tsv`

In [ ]:
path = 'dados/aula2/harmonizacao/rating_data.tsv'
rating_df = pd.read_csv(path, sep='\t')

In [ ]:
rating_df.head()

In [ ]:
rating_df.info()

In [ ]:
path = 'dados/aula2/harmonizacao/basics_data.tsv'
basics_df = pd.read_csv(path, sep='\t')

In [ ]:
basics_df.head()

In [ ]:
merged_df = pd.merge(basics_df,rating_df, how='inner', left_on='tconst', right_on='tconst')

In [ ]:
merged_df.head()

In [ ]:
harmonized_df = merged_df.loc[:, ['genres', 'primaryTitle', 'averageRating']]

In [ ]:
harmonized_df.sort_values(by = ['averageRating'], ascending=False)

In [ ]:
harmonized_genres_group_by = harmonized_df.groupby(['genres']).agg("averageRating").mean()
harmonized_genres_group_by.sort_values(ascending=False)